<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js"
            th:src="@{/lib/My97DatePicker/WdatePicker.js}"></script>
    <head th:include="common/base">
        <title>新增用户</title>
    </head>
<body>
<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-menu-add">

        <div class="row cl">
            <label class="form-label col-3">订单号：</label>
            <div class="formControls col-7">
                <span id="orderId"></span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3">评价星级：</label>
            <div class="formControls col-7">
                <div class="clearfix">
                    <div class="star-bar star-bar-show size-M f-l va-m mr-10">
                        <span class="star" id="gradeStar" style="width:0%"></span>
                    </div>
                    <strong class="f-l f-14 va-m" id="grade"></strong>
                </div>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3">评价内容：</label>
            <div class="formControls col-7">
                <span id="content"></span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>回复：</label>
            <div class="formControls col-7">
                <textarea type="text" style="height: 100px;" class="input-text" value="" placeholder="" id="reply" name="reply" ></textarea>
            </div>
        </div>

        <input type="hidden" id="id" name="id" value=""/>

        <div class="row cl">
            <div class="col-10 col-offset-4">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var evaluateId = [[${evaluateId}]];
    /*]]>*/
</script>
<script type="text/javascript" src="lib/Validform/5.3.2/Validform.min.js"
        th:src="@{/lib/Validform/5.3.2/Validform.min.js}"></script>
<script type="text/javascript" src="js/aftersales/replyEvaluate.js" th:src="@{/js/aftersales/replyEvaluate.js}"></script>
<script type="text/javascript" src="js/DateFormat.js" th:src="@{/js/DateFormat.js}"></script>
<link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
</body>
</html>