<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <head th:include="common/base">
    <title>新增字典</title>
</head>
<body>
<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-menu-add">
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>陪护类型：</label>
            <div class="formControls col-5">
                <select class="input-text" id="careType" name="careType"
                        datatype="*" >
                    <option value="">选择陪护类型</option>
                    <option value="HOSPITAL_CARE">医院陪护</option>
                    <option value="HOME_CARE">居家照护</option>
                </select>
            </div>
            <div class="col-2"></div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>问题类型：</label>
            <div class="formControls col-5">
                <select class="input-text" id="questionType" name="questionType"
                        datatype="*" >
                    <option value="">选择问题类型</option>
                    <option value="DISEASES">问题1</option>
                    <option value="SELF_CARE">问题2</option>
                    <option value="EATING">问题3</option>
                    <option value="CATHETER_CARE">问题4</option>
                    <option value="ASSIST_WITH_MEDICATION">问题5</option>
                </select>
            </div>
            <div class="col-2"></div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>问题选项：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="" placeholder="" id="itemName" name="itemName"
                       datatype="*2-64" nullmsg="问题选项不能为空">
            </div>
            <div class="col-2"></div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>选项描述：</label>
            <div class="formControls col-5">
                <textarea style="height: 120px;" type="text" class="input-text" value="" placeholder="" id="itemDesc" name="itemDesc"></textarea>
            </div>
            <div class="col-4"></div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>未选中图标：</label>
            <div class="formControls col-5">
                <input type="hidden" name="itemIcon" id="itemIcon" datatype="*" nullmsg="未选中图标不能为空">
                <div class="picsh">
                    <div id="imgDiv">
                    </div>
                    <span class="pic4">
                        <input type="file" onchange="fileSelected('1');" id="image_index_file">
                    </span>
                </div>
            </div>
            <div class="col-2"><span class="c-red"></span></div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>选中图标：</label>
            <div class="formControls col-5">
                <input type="hidden" name="itemIconSelected" id="itemIconSelected" datatype="*" nullmsg="选中图标不能为空">
                <div class="picsh">
                    <div id="imgDivSelected">
                    </div>
                    <span class="pic4">
                        <input type="file" onchange="fileSelected('2');" id="image_index_file_selected">
                    </span>
                </div>
            </div>
            <div class="col-2"><span class="c-red"></span></div>
        </div>

        <input type="hidden" id="questionId" name="id" />

        <div class="row cl">
            <div class="col-9 col-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>
<img id="preview" src="" style="display: none;">
<script th:inline="javascript">
    /*<![CDATA[*/
    var questionId = [[${questionId}]];
    /*]]>*/
</script>
<script type="text/javascript" src="lib/Validform/5.3.2/Validform.min.js" th:src="@{/lib/Validform/5.3.2/Validform.min.js}"></script>
<script type="text/javascript" src="js/question/questionAdd.js" th:src="@{/js/question/questionAdd.js}"></script>
<script type="text/javascript" src="lib/lrz/lrz.all.bundle.js" th:src="@{/lib/lrz/lrz.all.bundle.js}"></script>
</body>
</html>