<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js" th:src="@{/lib/My97DatePicker/WdatePicker.js}"></script>
    <head th:include="common/base">
    <title>新增用户</title>
</head>
<body>
<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-menu-add">

        <div class="row cl">
            <label class="form-label col-3">订单号：</label>
            <div class="formControls col-7">
                <span id="orderId"></span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3">下单时间：</label>
            <div class="formControls col-7">
                <span id="orderTime"></span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3">订单金额：</label>
            <div class="formControls col-7">
                <span id="orderFeeDisplay"></span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3">购买数量：</label>
            <div class="formControls col-7">
                <span id="serviceDuration"></span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>收款方式：</label>
            <div class="formControls col-7">
                <select class="input-text" style="width: 120px;" id="payWay" name="payWay" datatype="*">
                    <option value="">选择支付方式</option>
                    <option value="PAY_OFFLINE_CASH">线下支付-现金</option>
                    <option value="PAY_OFFLINE_POS">线下支付-POS</option>
                    <option value="PAY_OFFLINE_ALI">线下支付-支付宝</option>
                    <option value="PAY_OFFLINE_WECHAT">线下支付-微信</option>
                </select>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>收款金额：</label>
            <div class="formControls col-7">
                <input type="text" class="input-text" value="" placeholder="" id="orderFee" name="orderFee" readonly="readonly" datatype="/^(:?(:?\d+.\d+)|(:?\d+))$/">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>收款凭证号：</label>
            <div class="formControls col-7">
                <input type="text" class="input-text" value="" placeholder="" id="offlineTransactionId" name="offlineTransactionId" datatype="*">
            </div>
        </div>

        <input type="hidden" id="id" name="orderId" value=""/>

        <div class="row cl">
            <div class="col-12 col-offset-5">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var orderId = [[${orderId}]];
    /*]]>*/
</script>
<script type="text/javascript" src="lib/Validform/5.3.2/Validform.min.js" th:src="@{/lib/Validform/5.3.2/Validform.min.js}"></script>
<script type="text/javascript" src="js/order/offlinePay.js" th:src="@{/js/order/offlinePay.js}"></script>
<script type="text/javascript" src="js/DateFormat.js" th:src="@{/js/DateFormat.js}"></script>
</body>
</html>