<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js" th:src="@{/lib/My97DatePicker/WdatePicker.js}"></script>
    <head th:include="common/base">
    <title>新增用户</title>
</head>
<body>
<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-menu-add">

        <div class="row cl">
            <label class="form-label col-3">订单号：</label>
            <div class="formControls col-7">
                <span id="orderId"></span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3">下单时间：</label>
            <div class="formControls col-7">
                <span id="orderTime"></span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3">订单金额：</label>
            <div class="formControls col-7">
                <span id="orderFeeDisplay"></span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3">购买数量：</label>
            <div class="formControls col-7">
                <span id="serviceDuration"></span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>退款数量：</label>
            <div class="formControls col-7">
                <input type="text" class="input-text" value="" placeholder="" id="refundDuration" name="refundDuration" datatype="n">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>退款金额：</label>
            <div class="formControls col-7">
                <input type="text" class="input-text" value="" placeholder="" id="refundFee" name="refundFee" datatype="n">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>退款原因：</label>
            <div class="formControls col-7">
                <textarea type="text" style="height: 100px;" class="input-text" value="" placeholder="" id="refundDesc" name="refundDesc" datatype="*"></textarea>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>退款人帐户名：</label>
            <div class="formControls col-7">
                <input type="text" class="input-text" value="" placeholder="" id="bankAccountUserName" name="bankAccountUserName" datatype="*">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>退款人开户行：</label>
            <div class="formControls col-7">
                <input type="text" class="input-text" value="" placeholder="" id="bankName" name="bankName" datatype="*">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>退款人银行帐号：</label>
            <div class="formControls col-7">
                <input type="text" class="input-text" value="" placeholder="" id="bankAccountNumber" name="bankAccountNumber" datatype="n">
            </div>
        </div>

        <input type="hidden" id="id" name="orderId" value=""/>

        <div class="row cl">
            <div class="col-12 col-offset-5">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var orderId = [[${orderId}]];
    /*]]>*/
</script>
<script type="text/javascript" src="lib/Validform/5.3.2/Validform.min.js" th:src="@{/lib/Validform/5.3.2/Validform.min.js}"></script>
<script type="text/javascript" src="js/order/orderRefund.js" th:src="@{/js/order/orderRefund.js}"></script>
<script type="text/javascript" src="js/DateFormat.js" th:src="@{/js/DateFormat.js}"></script>
</body>
</html>