<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link href="css/image.css" th:href="@{/css/image.css}" rel="stylesheet" type="text/css"/>
    <link href="lib/lightbox2/2.8.1/css/lightbox.css" th:href="@{/lib/lightbox2/2.8.1/css/lightbox.css}" rel="stylesheet"
          type="text/css"/>
    <head th:include="common/base">
    <title>用户详情</title>
</head>
<body>
<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-menu-add">

        <div class="row cl">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                <tr class="text-c">
                    <th colspan="6"><h2><b>基本订单信息</b></h2></th>
                </tr>
                <tr class="text-c">
                    <th>订单号</th>
                    <th>服务名称</th>
                    <th>客户昵称</th>
                    <th>客户真实姓名</th>
                    <th>用户手机</th>
                    <th>下单时间</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-c">
                    <td id="orderId"></td>
                    <td id="careType"></td>
                    <td id="userName"></td>
                    <td id="actualName"></td>
                    <td id="userMobile"></td>
                    <td id="orderTime"></td>
                </tr>
                </tbody>

                <thead>
                <tr class="text-c">
                    <th>订单金额</th>
                    <th>订单状态</th>
                    <th>支付方式</th>
                    <th>支付时间</th>
                    <th>服务地址</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-c">
                    <td id="totalFee"></td>
                    <td id="status"></td>
                    <td id="payWay"></td>
                    <td id="payTime"></td>
                    <td id="serviceAddress"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row cl">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                <tr class="text-c">
                    <th colspan="5"><h2><b>附加订单信息</b></h2></th>
                </tr>
                <tr class="text-c">
                    <th>服务开始时间</th>
                    <th>服务结束时间</th>
                    <th>服务数量</th>
                    <th>联系人</th>
                    <th>联系地址</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-c">
                    <td id="serviceStartTime"></td>
                    <td id="serviceEndDate"></td>
                    <td id="serviceDuration"></td>
                    <td id="contact"></td>
                    <td id="contactMobile"></td>
                </tr>
                </tbody>

                <thead>
                <tr class="text-c">
                    <th>慢性病症</th>
                    <th>自理情况</th>
                    <th>进食方式</th>
                    <th>导管护理</th>
                    <th>协助用药</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-c">
                    <td id="DISEASES"></td>
                    <td id="SELF_CARE"></td>
                    <td id="EATING"></td>
                    <td id="CATHETER_CARE"></td>
                    <td id="ASSIST_WITH_MEDICATION"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row cl">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                <tr class="text-c">
                    <th colspan="7"><h2><b>发票信息</b></h2></th>
                </tr>
                <tr class="text-c">
                    <th>发票类型</th>
                    <th>发票抬头</th>
                    <th>税号</th>
                    <th>发票金额</th>
                    <th>邮寄人</th>
                    <th>邮寄电话</th>
                    <th>邮寄地址</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-c">
                    <td id="invoiceType"></td>
                    <td id="invoiceHeader"></td>
                    <td id="taxNo"></td>
                    <td id="invoiceFee"></td>
                    <td id="Recipient"></td>
                    <td id="recipientMobile"></td>
                    <td id="recipientAddress"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row cl">
            <div style="text-align: center;">
                <input class="btn btn-primary radius" onclick="tip.closeIframe();" type="submit"
                       value="&nbsp;&nbsp;关闭&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var orderId = [[${orderId}]];
    /*]]>*/
</script>
<script type="text/javascript" src="js/order/viewOrderDetail.js" th:src="@{/js/order/viewOrderDetail.js}"></script>
<script type="text/javascript" src="js/DateFormat.js" th:src="@{/js/DateFormat.js}"></script>
<script type="text/javascript"
        src="lib/lightbox2/2.8.1/js/lightbox.min.js" th:src="@{/lib/lightbox2/2.8.1/js/lightbox.min.js}"></script>
</body>
</html>