<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link href="css/image.css" th:href="@{/css/image.css}" rel="stylesheet" type="text/css"/>
    <link href="lib/lightbox2/2.8.1/css/lightbox.css" th:href="@{/lib/lightbox2/2.8.1/css/lightbox.css}" rel="stylesheet"
          type="text/css"/>
    <head th:include="common/base">
    <title>用户详情</title>
</head>
<body>
<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-menu-add">

        <div class="row cl">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                <tr class="text-c">
                    <th colspan="5"><h2><b>基本订单信息</b></h2></th>
                </tr>
                <tr class="text-c">
                    <th>订单号</th>
                    <th>服务名称</th>
                    <th>客户姓名</th>
                    <th>用户手机</th>
                    <th>下单时间</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-c">
                    <td id="orderId"></td>
                    <td id="careType"></td>
                    <td id="userName"></td>
                    <td id="userMobile"></td>
                    <td id="orderTime"></td>
                </tr>
                </tbody>

                <thead>
                <tr class="text-c">
                    <th>订单金额</th>
                    <th>订单状态</th>
                    <th>支付方式</th>
                    <th>支付时间</th>
                    <th>服务地址</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-c">
                    <td id="totalFee"></td>
                    <td id="status"></td>
                    <td id="payWay"></td>
                    <td id="payTime"></td>
                    <td id="serviceAddress"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row cl">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                <tr class="text-c">
                    <th colspan="5"><h2><b>更换信息</b></h2></th>
                </tr>
                <tr class="text-c">
                    <th>申请时间</th>
                    <th>申请原因</th>
                    <th>处理时间</th>
                    <th>申请状态</th>
                    <th>处理备注</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-c">
                    <td id="createTime"></td>
                    <td id="changeDesc"></td>
                    <td id="dealTime"></td>
                    <td id="dealStatusTd"></td>
                    <td id="dealDescTd"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row cl" id="dealDiv">
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>护士/护工筛选：</label>
                <div class="formControls col-8">
                    <select class="select input-text" id="serviceStaffType" name="serviceStaffType"
                            datatype="*" onchange="selectStaff(this.value)">
                        <option value="">选择护士/护工</option>
                        <option value="WORKER">护工</option>
                        <option value="NURSE">护士</option>
                    </select>
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>选择护士/护工：</label>
                <div class="formControls col-8">
                    <select class="select input-text" id="newStaffId" name="newStaffId" datatype="*">
                        <option value="">筛选</option>
                    </select>
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-2"><span class="c-red"></span>处理备注：</label>
                <div class="formControls col-8">
                    <textarea type="text" style="height: 100px;" class="input-text" value="" placeholder="" id="dealDesc" name="dealDesc" datatype="*"></textarea>
                </div>
            </div>
        </div>

        <input type="hidden" id="id" name="id" value=""/>
        <input type="hidden" id="dealStatus" name="dealStatus" value="AGREE"/>
        <input type="hidden" id="oldStaffId" name="oldStaffId" value=""/>

        <div class="row cl">
            <div style="text-align: center;">
                <input id="agreeButton" class="btn btn-primary radius" onclick="applyFund();" type="submit" value="&nbsp;&nbsp;确认更换&nbsp;&nbsp;">
                <input id="rejectButton" class="btn btn-primary radius" onclick="rejectFund();return false;" type="submit" value="&nbsp;&nbsp;拒绝更换&nbsp;&nbsp;">
                <input class="btn btn-primary radius" onclick="tip.closeIframe();" type="submit"
                       value="&nbsp;&nbsp;关闭窗口&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var changeId = [[${changeId}]];
    /*]]>*/
</script>
<script type="text/javascript" src="lib/Validform/5.3.2/Validform.min.js" th:src="@{/lib/Validform/5.3.2/Validform.min.js}"></script>
<script type="text/javascript" src="js/aftersales/viewStaffchangeDetail.js" th:src="@{/js/aftersales/viewStaffchangeDetail.js}"></script>
<script type="text/javascript" src="js/DateFormat.js" th:src="@{/js/DateFormat.js}"></script>
<script type="text/javascript"
        src="lib/lightbox2/2.8.1/js/lightbox.min.js" th:src="@{/lib/lightbox2/2.8.1/js/lightbox.min.js}"></script>
</body>
</html>