<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>####%d{yyyy-M-d HH:mm:ss.SSS} %t %p %m%n</pattern>
        </encoder>
    </appender>

    <!-- application log -->
    <appender name="EVENT-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>/var/lib/modules/API-Server/log/event_log_%d{yyyy-M-d}.log</FileNamePattern>
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger level="DEBUG" name="root" additivity="false">
        <appender-ref ref="EVENT-LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger level="DEBUG" name="com.baymin.springboot" additivity="false">
        <appender-ref ref="EVENT-LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>