<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link href="lib/bootstrap-table/bootstrap.min.css" th:href="@{/lib/bootstrap-table/bootstrap.min.css}" rel="stylesheet" type="text/css" >
    <link href="lib/bootstrap-table/bootstrap-table.min.css" th:href="@{/lib/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="lib/layui/css/layui.css" th:href="@{/lib/layui/css/layui.css}"  media="all">
    <script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js" th:src="@{/lib/My97DatePicker/WdatePicker.js}"></script>
    <head th:include="common/base">
<title>用户管理</title>
</head>
<body>
<nav class="breadcrumb"><i style="font-size: 18px;" class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span> 业务人员管理 </nav>
<div class="pd-20">

	<div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="r">
            <a href="javascript:;" onclick="addDriver();" class="btn btn-primary radius">
                <i style="font-size: 18px;" class="Hui-iconfont">&#xe600;</i> 新增业务人员
            </a>
		</span>
	</div>

	<form id="menuForm" name="menuForm" onsubmit="$('#menuTable').bootstrapTable('refresh');return false;" method="post">
		<div style="margin-top: 10px;margin-bottom: 10px;">
			姓名：
            <input type="text" class="input-text" style="width:120px" placeholder="输入姓名" id="userName" name="userName">
			手机号码：
            <input type="text" class="input-text" style="width:120px" placeholder="手机号码" id="mobile" name="mobile">
			性别
			<select class="input-text" style="width: 120px;" id="sex">
				<option value="">性别不限</option>
				<option value="M">女</option>
				<option value="F">男</option>
			</select>
			<button type="submit" class="btn btn-success" id="" name=""><i style="font-size: 18px;" class="Hui-iconfont">&#xe665;</i>搜索</button>
		</div>
	</form>
	<table id="menuTable" class="table table-border table-bordered table-bg">

	</table>
</div>
<script type="text/javascript" src="lib/layui/layui.js" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
<script type="text/javascript" src="lib/bootstrap-table/bootstrap-table.min.js" th:src="@{/lib/bootstrap-table/bootstrap-table.min.js}"></script>
<script type="text/javascript" src="lib/bootstrap-table/bootstrap-table-zh-CN.min.js" th:src="@{/lib/bootstrap-table/bootstrap-table-zh-CN.min.js}"></script>
<script type="text/javascript" src="js/DateFormat.js" th:src="@{/js/DateFormat.js}"></script>
<script type="text/javascript" src="js/user/staff/staffManage.js" th:src="@{/js/user/staff/staffManage.js}"></script>
</body>
</html>