<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link href="css/image.css" th:href="@{/css/image.css}" rel="stylesheet" type="text/css"/>
    <link href="lib/lightbox2/2.8.1/css/lightbox.css" th:href="@{/lib/lightbox2/2.8.1/css/lightbox.css}" rel="stylesheet"
          type="text/css"/>
    <head th:include="common/base">
    <title>速递员详情</title>
</head>
<body>
<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-menu-add">

        <div class="row cl">
            <label class="form-label col-2">头像：</label>
            <div class="formControls col-3">
                <div class="picsh">
                    <div id="headerImgDiv">
                    </div>
                </div>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2">手机号：</label>
            <div class="formControls col-3">
                <span id="userAccount"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">姓名：</label>
            <div class="formControls col-3">
                <span id="driverName"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">在线状态：</label>
            <div class="formControls col-3">
                <span id="onLineStatus"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">系统评分：</label>
            <div class="formControls col-3">
                <span id="platformRating"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">用户评分：</label>
            <div class="formControls col-3">
                <span id="userRating"></span>
            </div>
        </div>

        <div class="row cl">
            <div class="col-9 col-offset-3">
                <input class="btn btn-primary radius" type="submit" onclick="tip.closeIframe();"
                       value="&nbsp;&nbsp;关闭&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var userId = [[${userId}]];
    /*]]>*/
</script>
<script type="text/javascript" src="js/user/staff/viewStaffDetail.js" th:src="@{/js/user/staff/viewStaffDetail.js}"></script>
<script type="text/javascript" src="js/DateFormat.js" th:src="@{/js/DateFormat.js}"></script>
<script type="text/javascript"
        src="lib/lightbox2/2.8.1/js/lightbox.min.js" th:src="@{/lib/lightbox2/2.8.1/js/lightbox.min.js}"></script>
</body>
</html>