<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link href="css/image.css" th:href="@{/css/image.css}" rel="stylesheet" type="text/css"/>
    <link href="lib/lightbox2/2.8.1/css/lightbox.css" th:href="@{/lib/lightbox2/2.8.1/css/lightbox.css}" rel="stylesheet"
          type="text/css"/>
    <head th:include="common/base">
    <title>速递员详情</title>
</head>
<body>
<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-menu-add">

        <div class="row cl">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                <tr class="text-c">
                    <th colspan="8"><h2><b>基本信息</b></h2></th>
                </tr>
                <tr class="text-c">
                    <th>姓名</th>
                    <th>性别</th>
                    <th>护理经验</th>
                    <th>身高</th>
                    <th>体重</th>
                    <th>民族</th>
                    <th>籍贯</th>
                    <th>方言</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-c">
                    <td id="userName"></td>
                    <td id="sex"></td>
                    <td id="experience"></td>
                    <td id="height"></td>
                    <td id="weight"></td>
                    <td id="nationality"></td>
                    <td id="birthplace"></td>
                    <td id="localism"></td>
                </tr>
                </tbody>

                <tr class="text-c">
                    <th>普通话</th>
                    <th>护理城市</th>
                    <th>优先服务类型</th>
                    <th>护理特长</th>
                    <th>身份证</th>
                    <th>健康证</th>
                    <th>养老护理员职业资格证</th>
                    <th>医疗照护职业资格证</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-c">
                    <td id="mandarin"></td>
                    <td id="localtion"></td>
                    <td id="firstSkill"></td>
                    <td id="specialty"></td>
                    <td id="idCard"></td>
                    <td id="healthCardId"></td>
                    <td id="pensionCardId"></td>
                    <td id="healthCareCardId"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row cl">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                <tr class="text-c">
                    <th colspan="8"><h2><b>订单记录</b></h2></th>
                </tr>
                <tr class="text-c">
                    <th>查看</th>
                    <th>订单号</th>
                    <th>订单类型</th>
                    <th>下单时间</th>
                    <th>订单金额</th>
                    <th>支付方式</th>
                    <th>订单状态</th>
                    <th>订单来源</th>
                </tr>
                </thead>
                <tbody id="orderTBody">
                <tr class="text-c">
                    <td id="viewOrder"></td>
                    <td id="orderId"></td>
                    <td id="careType"></td>
                    <td id="orderTime"></td>
                    <td id="totalFee"></td>
                    <td id="payWay"></td>
                    <td id="status"></td>
                    <td id="orderSource"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row cl">
            <div style="text-align: center;">
                <input class="btn btn-primary radius" onclick="tip.closeIframe();" type="submit"
                       value="&nbsp;&nbsp;关闭&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var staffId = [[${staffId}]];
    /*]]>*/
</script>
<script type="text/javascript" src="js/user/staff/viewStaffDetail.js" th:src="@{/js/user/staff/viewStaffDetail.js}"></script>
<script type="text/javascript" src="js/DateFormat.js" th:src="@{/js/DateFormat.js}"></script>
<script type="text/javascript"
        src="lib/lightbox2/2.8.1/js/lightbox.min.js" th:src="@{/lib/lightbox2/2.8.1/js/lightbox.min.js}"></script>
</body>
</html>